/.vs
/CertificateCommon/bin
/CertificateCommon/obj
/CertificateManager.Client/bin
/CertificateManager.Client/obj
/CertificateManager/bin
/CertificateManager/obj
/Common/bin
/Common/obj
/publish
/UT/bin
/UT/obj
*.crt
*.pfx
/CertificateManager/LOG
CACertificate.ps1
CertificateManager/appsettings.Development.json
CertificateManager/appsettings.json
CertificateManager/appsettings.Development.json
CertificateManager/appsettings.json
/CertificateManager/Output
OpenSSLScript/create_COUPLE_CRT_KEY.cmd
/OpenSSLScript
/.agent