@page "/"
@* @inject AppData _uri *@
<PageTitle>Home</PageTitle>

<h1>Certificate Manager Homepage</h1>

<pre>
Welcome to your new Certification Manager app, no braille ascii art, for now
The GUI is working in progress (WIP)
</pre>


@code {
    public string Url => "TEST";// _uri.GetBaseUrl();// _uri.BaseUrl.AbsoluteUri;
}
